__pycache__
*/__pycache__
/.vscode
/_references
/power-sequencer_updater

# Programming resources used by doakey3
_make_op_init.py
_make_util_init.py
_op_consistency_checker.py
addon_linker.py
_strip_trailing.py
todo.txt
